<h1>Questions</h1>

<table>
  <tr>
    <th>Test</th>
    <th>Body</th>
  </tr>

  <tr>
    <td><%= @question.test.title %></td>
    <td><%= @question.body %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', test_questions_path(@question.test) %>
