<tr>
  <td class="align-middle">
    <%= content_tag :span, user_bage.bage.name %>
  </td>
  <td class="align-middle"><i class="material-icons md-36"> <%= user_bage.bage.url %></i></td>
  <td class="align-middle">
    <%= content_tag :span, rule_select_key(user_bage.bage.rule.to_i) %>
  </td>
</tr>
