<tr>
  <td class="align-middle">
    <%= content_tag :span, my_bage.name %>
  </td>

  <td class="align-middle"><i class="material-icons md-36"> <%= my_bage.url %></i></td>
  <td class="align-middle">
    <%= content_tag :span, rule_select_key(my_bage.rule.to_i) %>
  </td>
</tr>
