<tr>
  <td class="align-middle">
    <%= content_tag :span, my_bage.name %>
  </td>

  <td class="align-middle"><i class="material-icons md-36"> <%= my_bage.url %></i></td>
  <td class="align-middle">
    <%= content_tag :span, bage.rule %>
  </td>

  <td class="align-middle">
    <%= content_tag :span, bage.rule_value %>
  </td>
</tr>
