<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.title') %></span>

  <div class="nav-admin user">
    <%= t('.welcome') %>, <b class="nav-admin user-email"><%= current_user.first_name %></b> Guru |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
