<hr align="center" width="1000" size="2" color="#ff0000" />
<p align="center"> <%= link_to 'github_url', 'https://github.com/insrf' %> </p>
<p align="center"> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://www.thinknetica.com/' %> </p>
<p align="center"> <%= year_now %> год</p>
