<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <% if test.timer.nil? %>
  <td class="align-middle">Without timer</td>
  <% else %>
  <td class="align-middle"><%= test.timer %></td>
  <% end %>
  <td>
  <%= button_to t('.start'), start_test_path(test), class: "btn btn-primary" %>
  </td>
</tr>
