<h1>All tests</h1>

<% if @tests.present? %>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Action</th>
  </tr>

  <% @tests.each do |test| %>
  <tr>
    <td><%= test.title %></td>
    <td><%= test_level(test) %></td>
    <td><%= link_to 'View', test_path(test) %></td>
  </tr>

  <% end %>
</table>
<% else %>
  <p>You have no tests</p>
<% end %>
