<h1>All tests</h1>

<% if @tests.present? %>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Action</th>
  </tr>

  <%= render @tests%>

</table>
<% else %>
  <p>You have no tests</p>
<% end %>
