<% if user_signed_in? %>
  <p class="nav user">Welcome, <b><%=current_user.email %></b> Guru |
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to 'Registration', new_user_registration_path %></p>
<% end %>
