<% if logged_in? %>
  <p class="nav user">Welcome, <b><%=current_user.email %></b> Guru |
  <%= link_to 'logout', logout_path %></p>
  <% else %>
  <%= link_to 'Registration', signup_path %>
<% end %>
